@media (max-width:431px) {
    

    *{
        font-size:4vw;
        font-weight: 600;
    }
    
    .desktop{
        height: 100vh;
        width: 100vw;

        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows:35vh 65vh; 
        grid-template-areas: 
        "img"
        "info";
    }

            /*image*/

    .imagem{
        color:white;
        grid-area: img ;
        display:flex;
        flex-direction:column;


        background-image:url(img/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size:cover;

        align-items: center;
        justify-content: end;
    }
    
    .card1, .card2{
        min-width:65vw;
        min-height: 36vw;
        background-repeat: no-repeat;
        background-size:cover;
        border-radius:.5rem;
    }

    
    .cards{
        display:flex;
        flex-direction: column-reverse;
        transform: translateY(4vh);
    }
    
            /*CARD 1 */


    .imagem .card1{
        background-image: url(img/bg-card-front.png);
        display:flex;

        transform: translate(-20%, 10%);
        z-index:1;

    }

    .card1 .imgnum{
        letter-spacing: .7vw;
        transform:translateY(3.5vw);
        font-size: 4.5vw;
        font-weight: 600;
    }

    .card1 .cardpic{
        display:flex;
        align-items: center;
        gap:2vw;        
    }
    .cardpic .span1{
        height: 7vw;
        width: 7vw;
        background:var(--branco);
        border-radius:50%;
    }
    .cardpic .span2{
        width: 3.2vw;
        height: 3.2vw;
        border:solid white 1px;
        border-radius:50%;
    }

    .card1 ul{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        margin:4vw;
        width: 100%;
        
    }

    .card1 ul .c1name{
        display:flex;
        justify-content: space-between;
    }

    .c1name p{
        font-size: 2.6vw;
        text-transform: uppercase;

    }

            /*END CARD 1 */

            /*CARD 2*/

    .imagem .card2{
        background-image: url(img/bg-card-back.png);
        display:flex;
        transform: translate(20%, 53%);
    }

    .card2 div{
        color:var(--branco);
        display:flex;
        transform: translate(52vw, 16.5vw);
    }

            /*END CARD 2*/

            /*END IMAGE*/

            /*INFO*/
            
    .info{
        display:flex;
        align-items: center;
        justify-content: center;
        
    }

    .info ul{
        display:flex;
        flex-direction:column;
        align-items: start;
        width: 90vw;
        gap: 5vw;
    }

    .info ul input{
        width: 88vw;
        height:10vw;
        padding-left: 1vw;
    }

    .boxDC{
        display:flex;
        gap:10vw;
    }

    .data{
        display:flex;
        flex-direction:row;
    }

    .boxDC .data input{
        width: 17vw;
    }
   
    .boxDC .cvcvalue{
        width: 43vw;
    }

    .info button{
        width: 89vw;
        height: 10vw;
        background-color: var(--Very_dark_violet);
        color:var(--Light_violet);
        padding: 1.5vh 0vw;
        border:none;
        border-radius: .5rem;
        letter-spacing: .5vw;
        font-weight: 600;
    }


    .erro {
        display:none;
        color:red;
    }


            /*END INFO*/

            /*CONFIRMED*/

    .confirmed{
        border:solid green 2px;
        display:none;
        justify-content: center;
    }

    .confirmed section{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }

    .confirmed section svg{
        height: 23vw;
    }

    .confirmed section h1{
        font-size: 8vw;
        font-weight: 500;
        color:var(--Very_dark_violet);
        letter-spacing: 1.3vw;
    }

    .confirmed section p{
        color:var(--Dark_violet);
        letter-spacing: .3vw;
        font-size:4.5vw;
        transform:translateY(-4vw);
    }

    .confirmed section button{
        width: 85vw;
        height: 14vw;
        background-color: var(--Very_dark_violet);
        color:var(--Light_violet);
        border:none;
        border-radius: .5rem;
        letter-spacing: .1vw;
    }
            /*END CONFIRMED*/



}